/* Menu.css */

.menu-container {
  display: flex;
}

.menu-items {
  flex: 2; 
  padding-right: 20px;
}

.menu-items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu-cart {
  flex: 1; 
  max-width: 25vw;
  position: sticky; 
  top: 0; 
}
