
.menu-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: 320px;
    justify-content: center;
    align-items: center;
  }
  
  .menu-image {
    max-width: 50%;
    max-height: 40%;
  }
  
  .menu-name {
    font-size: 20px;
    color: #333;
  }
  
  .menu-price {
    font-size: 20px;
    color: #333;
  }
  
  
  .menu-preview-button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menu-preview-button:hover {
    background-color: #0056b3;
  }
  